<footer>
  <nav>
    <nav class="nav-content">
      <ul class="list-content">
        <li class="list-articles">
          <a class="link" href="#">Articles</a>
        </li>
        <li class="list-books">
          <a class="link" href="#">Books</a>
        </li>
        <li class="list-events">
          <a class="link" href="#">Events</a>
        </li>
        <li class="list-reasons">
          <a class="link" href="#">Reasons</a>
        </li>
        <li class="list-tips">
          <a class="link" href="#">Tips</a>
        </li>
        </ul>
  </nav>
  <nav class="nav-social">
    <ul>
    <li class="list-twitter">
      <a class="link" href="#">Twitter</a>
    </li>
    <li class="list-instagram">
      <a class="link" href="#">Instagram</a>
    </li>
    <li class="list-mastodon">
      <a class="link" href="#">Mastodon.social</a>
    </li>
  </ul>
  </nav>
  <small>©2017 we ❤︎ components</small>
</footer>
