<footer class="footer">
  <button class="footer_button-up" href="index.html#header">
    <img src="./assets/images/ico-arrow.svg" alt="Back to top" />
  </button>

  <!--  <div class="content"> -->
  <nav>
    <ul class="menu-content">
      <li class="menu-content__item">
        <a class="menu-content__link" href="https://adalab.es/" target="_blank"
          >Articles</a
        >
      </li>
      <li class="menu-content__item">
        <a class="menu-content__link" href="https://adalab.es/" target="_blank"
          >Books</a
        >
      </li>
      <li class="menu-content__item">
        <a class="menu-content__link" href="https://adalab.es/" target="_blank"
          >Events</a
        >
      </li>
      <li class="menu-content__item">
        <a class="menu-content__link" href="https://adalab.es/" target="_blank"
          >Reasons</a
        >
      </li>
      <li class="menu-content__item">
        <a class="menu-content__link" href="https://adalab.es/" target="_blank"
          >Tips</a
        >
      </li>
    </ul>
  </nav>
  <!--  </div>
 -->
  <!--   <div class="nav-social"> -->
  <nav>
    <ul class="menu-social">
      <li class="menu-social__item">
        <a class="menu-social__link" href="https://adalab.es/">Twitter</a>
      </li>
      <li class="menu-social__item">
        <a class="menu-social__link" href="https://adalab.es/">Instagram</a>
      </li>
      <li class="menu-social__item">
        <a class="menu-social__link" href="https://adalab.es/"
          >Mastodon.social</a
        >
      </li>
    </ul>
  </nav>
  <!--   </div> -->
  <small>&copy;2020 we ❤︎ components</small>
</footer>
