<footer>
  <button class="button-scroll-up" href="index.html#header">
    <img src="./assets/images/ico-arrow.svg" alt="Back to top" />
  </button>

  <div class="nav-content">
    <nav>
      <ul class="list-content">
        <li class="list-articles">
          <a class="link" href="https://adalab.es/" target="_blank">Articles</a>
        </li>
        <li class="list-books">
          <a class="link" href="https://adalab.es/" target="_blank">Books</a>
        </li>
        <li class="list-events">
          <a class="link" href="https://adalab.es/" target="_blank">Events</a>
        </li>
        <li class="list-reasons">
          <a class="link" href="https://adalab.es/" target="_blank">Reasons</a>
        </li>
        <li class="list-tips">
          <a class="link" href="https://adalab.es/" target="_blank">Tips</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="nav-social">
    <nav>
      <ul>
        <li class="list-twitter">
          <a class="link" href="https://adalab.es/">Twitter</a>
        </li>
        <li class="list-instagram">
          <a class="link" href="https://adalab.es/">Instagram</a>
        </li>
        <li class="list-mastodon">
          <a class="link" href="https://adalab.es/">Mastodon.social</a>
        </li>
      </ul>
    </nav>
  </div>
  <small>©2017 we ❤︎ components</small>
</footer>
