<header class="header">
  <button
    aria-label="menu"
    class="button-hamburguer"
    href="https://adalab.es/"
    target="_blank"
  >
    <img src="./assets/images/ico-menu.svg" alt="Adalab website" />
  </button>
  <h1 class="hero-title">Anonymous proxy</h1>
  <p class="hero-text">In hac habitasse platea dictumst.</p>
  <button class="button-scroll-down" href="index.html#main-reasons">
    <img src="./assets/images/ico-scroll-down.svg" alt="Reasons To Purchase" />
  </button>
</header>
