<header class="header">
  <a
    aria-label="menu"
    class="header__button-menu"
    href="https://adalab.es/"
    title="Adalab Website"
    target="_blank"
  >
    <img src="./assets/images/ico-menu.svg" alt="Adalab website" />
  </a>
  <h1 class="header__title">Anonymous proxy</h1>
  <p class="header__text">In hac habitasse platea dictumst.</p>
  <div class="header__button-down-container">
    <a
      class="header__button-down"
      href="#main-reasons"
      title="Go to 3 Reasons To Purchase"
    >
      <img src="./assets/images/ico-scroll-down.svg" alt="Reasons To Purchase"
    /></a>
  </div>
</header>
