<section class="main-reasons">
  <a name="main-reasons"></a>
  <h2 class="main-reasons__title">3 Reasons to purchase</h2>
  <div class="main-reasons__container">
    <include
      src="./main-article.html"
      title="Ut sed metus"
      text="Lorem ipsum dolor sit amet, consecteur."
      cardno="main__reasons--card1"
    ></include>

    <include
      src="./main-article.html"
      title="Cubiratur ac erat"
      text="Mauris mattis urna quis lorem molestie."
      cardno="main__reasons--card2"
    ></include>

    <include
      src="./main-article.html"
      title="Morbi dictum"
      text="Aliuam in dolor et dolor tincidunt."
      cardno="main__reasons--card3"
    ></include>
  </div>
  <a
    class="main-reasons__button-reasons"
    href="https://adalab.es/"
    alt="More reasons"
    title="Adalab Website"
    target="_blank"
    >More reasons</a
  >
</section>
