<article class="main__article">
  <h3 class="main__article-title">Ut sed metus</h3>
  <p class="main__article-text">Lorem ipsum dolor sit amet, consecteur.</p>
</article>
<article class="main__article">
  <h3 class="main__article-title">Curabitur ac erat</h3>
  <p class="main__article-text">Mauris mattis urna quis lorem molestie.</p>
</article>
<article class="main__article">
  <h3 class="main__article-title">Morbi dictum</h3>
  <p class="main__article-text">Aliquam in dolor et dolor tincidunt.</p>
</article>
