/* FONTS */

$font-title: "Roboto Slab", serif;
$font-regular: normal;
$font-bold: bold;
$font-medium: medium;

$font-text: "Roboto", sans-serif;
$font-regular: normal;

/* SCROLL BUTTONS */

$buttonColor: #ffffff;
$buttonWidth: 45px;
$buttonHeight: 45px;
$buttonRadius: 22.5px;
