/* COLORS */
// Title
$color-h1: #ffffff;
$color-h2: #000000;

// Text
$color-text: #000000;
$color-text2: #4a4a4a;

// Button
$color-button: #f26002;

// Background
$color-background-mainaside: #ffffff;
$color-background-mainreasons: #eff9ff;
$color-background-footer: #304268;

/* FONTS */
$font-regular: normal;
$font-bold: bold;
$font-medium: medium;

/* SCROLL BUTTONS */
$buttonColor: #ffffff;
$buttonWidth: 45px;
$buttonHeight: 45px;
$buttonRadius: 22.5px;
