@font-face {
  font-family: "roboto slab";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap");
}

@font-face {
  font-family: "roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&family=Roboto:wght@500&display=swap");
}

@import "core/reset";
@import "core/variables";
@import "layout/header";
@import "layout/new-section";
@import "layout/main";
@import "layout/main-aside";
@import "layout/main-reasons";
@import "layout/footer";
@import "layout/body";
